body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content {
	text-align: left;
}

h2 {
font-size: 12pt;	
}

.date {
    padding: 10px 1px;
    float: : right;
    color: #828282;
}