body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content {
	text-align: left;
}


.date {
    padding: 10px 1px;
    float: : right;
    color: #828282;
}

.save {
    float: right;
}

.post-form input {
	width: 50%;
}

.post-form textarea {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #0174DF;
}
.post-form textarea {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}
h1, h2, h3, h4 {
	color: #0174DF
}


