body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content {
	text-align: left;
}

.contenu-principal {
	padding-right: 20px;
}

.date {
    padding: 10px 1px;
    float: : right;
    color: #828282;
}

.save {
    float: right;
}

.post-form input {
	width: 50%;
}

.post-form textarea {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  margin-top: 10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  /*color: #0174DF;*/
}
.post-form textarea {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}
h1, h2, h3, h4 {
	color: #0174DF
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  float: : right;
  margin-left: 900px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.block-droit{
padding-top: 80px;
padding-left: 750px;
margin: 0 -15px 15px;
}